.ref {
  display: inline-flex;
  cursor: pointer;
}

.dropdown {
  display: block;

  &Menu {
    list-style: none;
    background-color: var(--color-standard);
  }

  &Item {
    width: 100%;
    height: 40px;
  }
}
