.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 8px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: var(--border-radius-medium);
  color: var(--color-standard-text);
  border: 1px solid var(--color-standard-border);
  background-color: var(--color-standard);

  &:not([disabled]):hover,
  &:not([disabled]):focus {
    background-color: var(--color-standard-hover);
  }

  &:disabled {
    color: var(--color-disabled-text);
    border: 1px solid var(--color-disabled);
    background-color: var(--color-disabled);
    cursor: not-allowed;
  }

  &:focus-visible {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
  }

  &.current {
    color: var(--color-primary-text);
    border: 1px solid var(--color-primary);
    background-color: var(--color-primary);

    &:hover,
    &:focus {
      border: 1px solid var(--color-primary-hover);
      background-color: var(--color-primary-hover);
    }
  }
}

.icon {
  width: 24px;
  height: 24px;
}
