.wrapper {
  display: inline-flex;
  width: 100%;
  border-radius: var(--border-radius-medium);
  border: 1px solid var(--color-standard-border);
  color: var(--color-standard-text);
  background-color: var(--color-standard);
  cursor: text;

  &:focus-within {
    border: 1px solid var(--color-primary);

    .clear {
      visibility: visible;
    }
  }

  &.disabled {
    color: var(--color-disabled-text);
    border: 1px solid var(--color-disabled);
    background-color: var(--color-disabled);
    cursor: not-allowed;
  }

  &.invalid {
    border: 1px solid var(--color-danger);
  }

  &:not(.disabled, .invalid):hover {
    border: 1px solid var(--color-primary);

    /* https://gist.github.com/PocketNinjaDesign/689e16e412a88dfd36dd08b26bebcacf */
    @media (hover: hover) {
      .clear {
        visibility: visible;
      }
    }
  }
}

.input {
  width: 100%;
  height: 40px;
  padding: 0 8px;
  font-size: var(--font-size-md);
  text-overflow: ellipsis;

  &:disabled {
    color: var(--color-disabled-text);
    cursor: not-allowed;
  }

  &:focus {
    outline: none;
  }

  &:read-only {
    user-select: none;
  }

  &::placeholder {
    color: var(--color-secondary-text);
  }
}

.prefix,
.suffix {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clear {
  visibility: hidden;
}

.button {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  color: var(--color-standard-text);

  &:focus-visible {
    outline: 1px solid var(--color-primary);
    outline-offset: 1px;
  }

  &:disabled {
    cursor: not-allowed;
  }
}
