.form {
  display: block;

  &Item {
    font-size: var(--font-size-sm);
    margin-bottom: 24px;

    &.showMessage {
      margin-bottom: 0;
    }

    &Label {
      display: flex;
      padding: 4px 0;
    }

    &Body {
      width: 100%;
    }
  }
}

.message {
  display: flex;
  align-items: center;
  font-size: var(--font-size-xs);
  padding-top: 4px;
  height: 24px;
  color: var(--color-danger);

  &Text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
