@import 'ress';
@import './root.css';

html {
  color: var(--color-standard-text);
  font-size: 1rem;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

#root {
  height: 100%;
  touch-action: manipulation;
}
