:root {
  --color-standard: #fff;
  --color-standard-border: #cdcdcd;
  --color-standard-hover: #f3f2f1;
  --color-container-bg: #faf9f8;
  --color-table-header-bg: #f8f9fa;
  --color-table-even-bg: #fcfcfc;
  --color-primary: #0078d4;
  --color-primary-light: #c7e0f4;
  --color-primary-text: #fff;
  --color-primary-hover: #106ebe;
  --color-danger: #dc3545;
  --color-danger-text: #fff;
  --color-danger-hover: #bb2d3b;
  --color-disabled: #f5f5f5;
  --color-disabled-text: #bfbfbf;
  --color-link: #0078d4;
  --color-link-hover: #004578;
  --color-shadow: rgba(0, 0, 0, 0.15);
  --color-slider-bg: #ccc;
  --color-switch-bg: #ccc;
  --color-mask-bg: rgba(0, 0, 0, 0.4);
  --color-standard-text: #262626;
  --color-secondary-text: #595959;
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-md: 1rem; /* 16px */
  --font-size-lg: 1.25rem; /* 20px */
  --font-size-xl: 1.5rem; /* 24px */
  --font-size-2xl: 2.5rem; /* 40px */
  --height-header: 48px;
  --width-sidebar: 240px;
  --wdith-main: 800px;
  --z-index-header: 1000;
  --z-index-sidebar: 1010;
  --z-index-popper: 1100;
  --z-index-message: 1200;
  --z-index-drawer: 1300;
  --z-index-modal: 1400;
}
