.skeleton {
  position: relative;

  &::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      121deg,
      rgba(0, 0, 0, 0.06) 25%,
      rgba(0, 0, 0, 0.02) 37%,
      rgba(0, 0, 0, 0.06) 63%
    );
    background-size: 400% 100%;
  }

  &.animate {
    &::after {
      animation: shimmer 2s ease infinite;
    }
  }
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
