.modal {
  max-height: 100vh;
  min-width: min(440px, 90vw);
  transition: transform 0.3s;

  .inner {
    display: flex;
    flex-direction: column;
    background-color: var(--color-standard);
    border-radius: var(--border-radius-medium);
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: var(--font-weight-semi-bold);
    padding: 8px 16px;
    border-bottom: 1px solid var(--color-standard-border);
  }

  .body {
    flex: 1;
  }

  .close {
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: var(--color-standard-text);

    &:hover,
    &:focus {
      background-color: var(--color-standard-hover);
    }

    &:focus-visible {
      outline: 2px solid var(--color-primary);
      outline-offset: 2px;
    }

    &Icon {
      width: 24px;
      height: 24px;
    }
  }
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-mask-bg);
  transition: opacity 0.3s;
  z-index: var(--z-index-modal);

  &.mask-enter {
    opacity: 0;

    .modal {
      transform: scale(0.9);
    }
  }

  &.mask-enter-active {
    opacity: 1;

    .modal {
      transform: scale(1);
    }
  }

  &.mask-exit {
    opacity: 1;

    .modal {
      transform: scale(1);
    }
  }

  &.mask-exit-active {
    opacity: 0;

    .modal {
      transform: scale(0.9);
    }
  }
}
