.popper {
  border-radius: 2px;
  box-shadow: var(--color-shadow) 0 2px 4px 0;
  z-index: var(--z-index-popper);

  &-enter {
    opacity: 0;
  }

  &-enter-active {
    opacity: 1;
    transition: opacity 0.3s;
  }

  &-exit {
    opacity: 1;
  }

  &-exit-active {
    opacity: 0;
    transition: opacity 0.3s;
  }

  &Inner {
    position: relative;
    background-color: var(--color-standard);
  }

  &[data-popper-reference-hidden='true'] {
    visibility: hidden;
    pointer-events: none;
  }

  &[data-popper-placement^='top'] {
    .arrow {
      bottom: -4px;
      transform: rotate(-45deg);
    }
  }
  &[data-popper-placement='top'] {
    .arrow {
      left: calc(50% - 4px);
    }
  }
  &[data-popper-placement='top-start'] {
    .arrow {
      left: 8px;
    }
  }
  &[data-popper-placement='top-end'] {
    .arrow {
      right: 8px;
    }
  }

  &[data-popper-placement^='right'] {
    .arrow {
      left: -4px;
      transform: rotate(45deg);
    }
  }

  &[data-popper-placement='right'] {
    .arrow {
      top: calc(50% - 4px);
    }
  }

  &[data-popper-placement='right-start'] {
    .arrow {
      top: 8px;
    }
  }

  &[data-popper-placement='right-end'] {
    .arrow {
      bottom: 8px;
    }
  }

  &[data-popper-placement^='bottom'] {
    .arrow {
      top: -4px;
      transform: rotate(135deg);
    }
  }
  &[data-popper-placement='bottom'] {
    .arrow {
      left: calc(50% - 4px);
    }
  }
  &[data-popper-placement='bottom-start'] {
    .arrow {
      left: 8px;
    }
  }
  &[data-popper-placement='bottom-end'] {
    .arrow {
      right: 8px;
    }
  }

  &[data-popper-placement^='left'] {
    .arrow {
      right: -4px;
      transform: rotate(-45deg);
    }
  }

  &[data-popper-placement='left'] {
    .arrow {
      top: calc(50% - 4px);
    }
  }

  &[data-popper-placement='left-start'] {
    .arrow {
      top: 8px;
    }
  }

  &[data-popper-placement='left-end'] {
    .arrow {
      bottom: 8px;
    }
  }
}

.arrow {
  position: absolute;
  width: 8px;
  height: 8px;
  box-shadow: inherit;
  transform-origin: center;
  background-color: var(--color-standard);
}
