.loading {
  display: inline-flex;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid var(--color-primary-light);
  border-top-color: var(--color-primary);
  animation: loading 1.3s cubic-bezier(0.53, 0.21, 0.29, 0.67) infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
