.wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.group {
  display: flex;
}

.checkbox {
  appearance: none;
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid var(--color-standard-border);
  cursor: pointer;

  &:not([disabled]):hover,
  &:not([disabled]):focus {
    border: 1px solid var(--color-primary);
  }

  &:checked {
    border: 1px solid var(--color-primary);
    background-color: var(--color-primary);

    &::after {
      content: '';
      display: block;
      width: 4px;
      height: 8px;
      position: absolute;
      top: 2px;
      left: 5px;
      border: 2px solid var(--color-primary-text);
      border-top: 0;
      border-left: 0;
      transform: rotate(45deg);
    }

    &:disabled {
      border: 1px solid var(--color-standard-border);
      background-color: var(--color-standard-border);
    }

    &:focus-visible {
      outline: 2px solid var(--color-primary);
      outline-offset: 2px;
    }
  }

  &:disabled {
    color: var(--color-disabled-text);
    background-color: var(--color-disabled);
    cursor: not-allowed;

    & + .label {
      cursor: not-allowed;
    }
  }
}

.label {
  padding: 0 8px;
  font-size: var(--font-size-lg);
  line-height: 16px;
  cursor: pointer;
}
