.home {
  margin: 0 auto;
  max-width: var(--wdith-main);
  padding: 32px;
}

.title {
  font-size: var(--font-size-2xl);
}

.desc {
  margin: 16px 0;
  color: var(--color-standard-text);
}

.link {
  display: inline-flex;
}
