.home {
  margin: 0 auto;
  max-width: var(--wdith-main);
  padding: 32px;
}

.title {
  font-size: var(--font-size-2xl);
}

.desc {
  margin: 16px 0;
  color: var(--color-standard-text);
}

.link {
  display: inline-flex;
}

.list {
  margin: 16px;
  list-style: none;
  display: flex;
  width: 160px;
  flex-wrap: wrap;
  gap: 8px;
  font-size: 24px;
}

.item {
  width: 32px;
  height: 32px;
}
