.slider {
  position: relative;
  width: min(320px, 100%);
}

.header {
  display: flex;
  justify-content: space-between;
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-secondary-text);
  font-size: var(--font-size-sm);
}

.input {
  width: 72px;
  height: 24px;
  border-radius: 2px;
  padding: 0 8px;
  color: var(--color-standard-text);
  border: 1px solid var(--color-standard-border);
  font-size: var(--font-size-xs);

  &:not([disabled]):hover,
  &:not([disabled]):focus {
    border: 1px solid var(--color-primary);
  }

  &:not([disabled]).invalid {
    border: 1px solid var(--color-danger);
  }

  &:disabled {
    color: var(--color-disabled-text);
    border: 1px solid var(--color-disabled);
    background-color: var(--color-disabled);
    cursor: not-allowed;
  }

  &Wrapper {
    display: flex;
  }
}

.separator {
  margin: 0 4px;
}

.range {
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  height: 4px;
  appearance: none;
  pointer-events: none;
  z-index: 2;

  &:disabled {
    cursor: not-allowed;
    &::range-thumb {
      border: solid 2px var(--color-standard-border);
      cursor: not-allowed;
    }
  }

  &:focus-visible {
    &::range-thumb {
      outline: 2px solid var(--color-primary);
      outline-offset: 2px;
    }
  }

  &::range-thumb {
    appearance: none;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    border-radius: 50%;
    border: solid 2px var(--color-primary);
    background-color: var(--color-standard);
    pointer-events: auto;
    cursor: pointer;
  }

  &Wrapper {
    position: relative;
    height: 24px;

    &.disabled {
      &::before {
        background-color: var(--color-disabled-text);
      }

      &::after {
        background-color: var(--color-disabled);
      }
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 12px;
      height: 4px;
      left: 0;
      pointer-events: none;
    }

    &::before {
      width: var(--width);
      border-radius: 2px 0 0 2px;
      background-color: var(--color-primary);
      z-index: 1;
    }

    &.dual {
      &::before {
        margin-left: var(--left);
      }
    }

    &::after {
      right: 0;
      border-radius: 2px;
      background-color: var(--color-slider-bg);
    }
  }
}
